/* @font-face {
  font-family: 'Cocogoose Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Cocogoose Pro Regular'), url('Cocogoose Pro Regular Trial.woff') format('woff');
  } */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to left, rgba(29, 59, 155, 0.7), rgba(0,108,108,1));
  color: darkblue;
  overflow: hidden;
}

